*{font-family: Arial, sans-serif;}

.topnav {
    background-color: cadetblue;
    border-radius: 5px;
}
.topnav nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 20rem;

}
.topnav nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}
.topnav nav ul button{
    color: white;
    text-decoration: none;
    width: 5rem;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
}