@font-face {
    font-family: 'MyFont';
    src: url('Assets/Relieve.ttf') format('woff2'), /* Beste Option für moderne Browser */
         url('Assets/Relieve.ttf') format('woff'),
         url('Assets/Relieve.ttf') format('truetype'); /* Falls kein WOFF2 */
    font-weight: normal;
    font-style: normal;
  }
  
  
  body {
    font-family: 'MyFont', sans-serif;
    display: flex;
  }
  .frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background-color:#8F857D ;
    border-radius: 24px;
  
  
  }
   
  .frame nav{
    display: flex;
    width: 95%;
    height: 94%;
    background-color: #507442;
    border-radius: 16px;
    box-shadow: black 0px 0px 18px;
    flex-direction: column;
  
   
  }
  .fram nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  
  }
  .frame nav h1{
    display: flex;
    color: #D5D193;
    font-size: 80px;
    margin: 4px;
    text-shadow: black 0px 0px 15px;
  }
  .frame nav a{
    display: flex;
    color: blanchedalmond;
    font-size: 38px;
    text-shadow: black 0px 0px 15px;
    margin: 60px;
    margin-top: -51px;
  
  }
  .frame nav span{
    background-color: black;
    display: flex;
    padding: 1px;
    width: 90%;
    margin-top: -60px;
    box-shadow: black 0px 0px 1px;
    border-radius: 90px;

  }


